@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-main1: #241e23;
    --color-main2: #fefefe;
    --color-main3: #3a72ce;
}

body {
    margin: 0;
    background-color: var(--color-main2);
    color: var(--color-main1);

    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#HeaderFlex {
    display: flex;
    width: 100%;
    height: 120px;

    color: var(--color-main2);
    background-color: var(--color-main1);
    background: radial-gradient(circle, rgba(37,61,75,1) 25%, rgba(0,28,50,1) 100%);
    justify-content: space-between;

    #HeaderLeft {
        height: 100%;
        display: inline-flex;
        align-items: center;
        padding: 0 16px;
        img {
            height: 100%;
            width: auto;
        }
    }

    h1 {
        align-self: center;
    }

    #HeaderRight {
        display: inline-flex;
        align-items: center;

        #Download {
            display: flex;
            height: 100%;
            background-color: #3a73ce6d;
            text-shadow: 0 2px 0 rgb(86, 86, 86);
            align-items: center;
            text-decoration: none;
            color: var(--color-main2);
            padding: 0 50px;
            font-size: 24px;
            font-weight: bold;
            transition: font-size 0s ease, background-position 0s ease, padding 0s ease;
        }

        #Download:hover {
            font-size: 25px;
            padding: 0 46.75px;
            transition-duration: 0.45s;
        }
    }
}

.shiny-button {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: #0099cc;
    border: none;
    background-repeat: no-repeat;
    background-position: -375px 0, 0 0;
    
    background-image: -webkit-linear-gradient(
      top left,
      rgba(255, 255, 255, 0.0) 0%,
      rgba(255, 255, 255, 0.0) 37%,
      rgba(255, 255, 255, 0.3) 38%,
      rgba(255, 255, 255, 0.3) 45%,
      rgba(255, 255, 255, 0.0) 46%,
      rgba(255, 255, 255, 0.0) 50%
    );
    background-image: -moz-linear-gradient(
      0 0,
      rgba(255, 255, 255, 0.0) 0%,
      rgba(255, 255, 255, 0.0) 37%,
      rgba(255, 255, 255, 0.3) 38%,
      rgba(255, 255, 255, 0.3) 45%,
      rgba(255, 255, 255, 0.0) 46%,
      rgba(255, 255, 255, 0.0) 50%
    );    
    background-image: -o-linear-gradient(
      0 0,
      rgba(255, 255, 255, 0.0) 0%,
      rgba(255, 255, 255, 0.0) 37%,
      rgba(255, 255, 255, 0.3) 37.1%,
      rgba(255, 255, 255, 0.3) 45%,
      rgba(255, 255, 255, 0.0) 45.1%,
      rgba(255, 255, 255, 0.0) 50%
    );
    background-image: linear-gradient(
      0 0,
      rgba(255, 255, 255, 0.0) 0%,
      rgba(255, 255, 255, 0.0) 37%,
      rgba(255, 255, 255, 0.3) 38%,
      rgba(255, 255, 255, 0.3) 45%,
      rgba(255, 255, 255, 0.0) 46%,
      rgba(255, 255, 255, 0.0) 50%
    );
    
    background-size: 250% 250%, 100% 100%;
    
    transition: background-position 0s ease 0.1s;
}
  
.shiny-button:hover {
    background-position: 25 0, 0 0;
    transition-duration: 0.75s;
}


#ContentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 64px 0;
    
    #BangTitle {
        font-size: 42px;
        margin: 0;
        font-weight: 800;
    }
    #BangHeader {
        font-size: x-large;
        text-align: center;
    }

    img#Example {
        width: 800px;
        height: auto;
    }

    .icon {
        height: 32px;
        padding-right: 6px;
        margin: -10px -6px;
        display: inline;
        vertical-align: baseline;
    }

    #Features {
        max-width: 600px;
        border-left: 3px solid rgb(73, 73, 73);
        div {
            display: flex;
            align-items: center;

            i {
                text-align: center;
                padding-left: 6px;
                width: 35px;
            }
            img {
                padding-left: 13px;
                padding-right: 9px;
            }
            .text-icon {
                text-align: center;
                padding-left: 6px;
                width: 35px;
            }
        }
    }

    #Credits {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 800px;
        text-align: center;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        img {
            height: 32px;
            margin: 0 8px;
        }
    }

    .DownloadLink {
        margin: 16px 0;
        font-size: 36px;
        text-decoration: none;
        color: var(--color-main1);
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 32px;
    a {
        font-weight: bold;
        text-decoration: none;
        color: var(--color-main1);
    }
}
